.navbar{
  background-color: rgb(63 183 63);
}
.bi-house-door-fill{
  
  /* background-color: rgb(208, 72, 14); */
}
#dropdown1{
  
  font-family: cursive;
  color: black;
  padding-left: 20%;
  /* background-color: blue; */
}
#dropdown2{
  font-family: cursive;
  color: black;
  padding-left: 20%;
  /* background-color: rgb(255, 0, 183); */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: initial;
    }
    
    body{
    
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:  rgb(63 183 63);
    }

  /* .container {
    min-width: 250px;
    box-shadow: 0px 0px 95px -30px green;

  } */
  

  .box {
    
    width: 500px;
    background: white;
    border-radius: 12px;
    text-align: center;
    box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.5);

  }
   

  h1 {
    
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 36px;
    padding: 30px 0 ;
    
  }


    
    .content {
        padding: 0 30px;
        font-family: fantasy;
        
    }
    
    .input {
        background: white;
        box-shadow: 0px 0px 90px -30px rgb(63 183 63);
        border-radius: 12px;
        padding: 20px 0;
        margin-bottom: 20px;
    }

    .activityLevel{
      display: inline-grid;
    font-size: 22px;
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background: #fff;
    box-shadow: 0px 0px 95px -30px rgb(63 183 63);
    border-radius: 12px;
    padding: 20px 0;
    margin-bottom: 20px;
    }
    .level{
      font-weight: 800;
      font-size: 25px;
    }
    select#activity{
      font-size: 22px;
      margin-block: 15px;
    border-block-color: rgb(63 183 63);
    border-radius: 30px;
      width:100%;
    }
    .input label {
        display: block;
        font-size: 25px;
        font-weight: 600;
        color: #000;
        margin-bottom: 20px;
    }
    .input input {
        outline: none;
        border: none;
        border-bottom: 1px solid rgb(63 183 63);
        width: 50%;
        text-align: center;
        font-size: 28px;
        
    }


    .containerHW {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .inputW {
        box-shadow: 0px 0px 95px -30px rgb(63 183 63);
    /* background: #e0d511; */
    /* box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15); */
    border-radius: 12px;
    padding: 10px 0;
    margin-bottom: 20px;
    }


    .inputW label {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        margin-bottom: 20px;
    }
   .inputW input {
        outline: none;
        border: none;
        border-bottom: 1px solid rgb(63 183 63);
        width: 50%;
        text-align: center;
        font-size: 28px;
        font-family: cursive;
    }

    .inputH {
        background: #fff;
        box-shadow: 0px 0px 90px -30px rgb(63 183 63);
        border-radius: 12px;
        padding: 10px 0;
        margin-bottom: 20px;
        margin-right: 20px;
    }


    .inputH label {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        margin-bottom: 20px;
    }
   .inputH input {
        outline: none;
        border: none;
        border-bottom: 1px solid rgb(63 183 63);
        width: 50%;
        text-align: center;
        font-size: 28px;
        font-family: cursive;
    }

  
button.calculate {
    cursor: pointer;
    font-family: cursive;
    color: #fff;
    background: rgb(63 183 63);
    font-size: 16px;
    border-radius: 7px;
    padding: 12px 0;
    width: 100%;
    outline: none;
    border: none;
    transition: all 0.5s;
  }
  button.calculate:hover {
    background: rgb(63 183 63);
  }

  
  
.result {
    padding: 10px 20px;
  }
  .result p {
    font-weight: 600;
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;
  }
  .result #result {
    font-size: 36px;
    font-weight: 900;
    color:  rgb(63 183 63);
    background-color: #eaeaea;
    display: inline-block;
    padding: 7px 15px;
    border-radius: 55px;
    margin-bottom: 17px;
  }
  /* #comment {
    color: #4f7df9;
    font-weight: 800;
  } */



.footer {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 15px
}

.footer-text {
    text-decoration: none;
    color: rgba(40, 40, 40, 0.8);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 14px;
    transition: all 0.5;
}

.footer-text:hover {
    color: rgba(40, 40, 40, 1);
}

.gender {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background: #fff;
    box-shadow: 0px 0px 95px -30px rgb(63 183 63);

    border-radius: 12px;
    padding: 20px 0;
    margin-bottom: 20px;
}
#m{
    background-color:red;
    
}
#f{
    padding: 0%;
}

 
.gender .container {
    display: block;
    position: relative;
    padding-left: 0;
    /* margin-bottom: 12px; */
    margin-top: 7px;
    cursor: pointer;
    font-size: 22px;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
  }
  
  
  .gender .container input {
    
    
    padding: 0%;
    position: absolute;
    opacity: 0;
    cursor:pointer;
  }
 
  .checkmark {
    /* opacity: 0; */
    left: 40px;
    position: absolute;
    top: 5px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  
  /* .gender .container:hover input ~ .checkmark {
    background-color: #ccc;
  } */
  
  
  .gender .container input:checked ~ .checkmark {
    background-color: rgb(63 183 63);
  }
  
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  
  .gender .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  
  .gender .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.close:hover {
  color: #d41111; 
}





.linkDownload {
    position: fixed;
    background-color: #d12322;
    margin: 20px;
    padding: 10px 10px;
    left: -0px;
    border-radius: 5px;
    bottom: -0px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.43s ease-in-out;


  }

  
.linkDownload i {
    padding-left: 7px;
  }
  
  .linkDownload:hover {
    text-decoration: none;
    background-color: black;
  }
  

@media (max-width: 700px){


    .box {
        width: 380px;
    }
    .checkmark{
        
        top: 15px;
        left:25px;
        width: 10px;
        height: 10px;
    }


    
    .input label {

        font-size: 18px;
    }

    .inputH label, .inputW label {
        font-size: 14px;
    }


    .input input, .inputH input, .inputW input{
        font-size: 24px;
    }


    .modal-content {

      width: 380px;
    }



}